# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
/server/local.db

# Database
/server/database/migrations/
/server/database/local.db
/server/database/local.db-journal

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
nuxt.run.xml

# Local env files
.env
.env.*
!.env.example
